{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}

    <main class="file-a-complaint-page">
      <section class="banner">
        <div class="container py-5">
          <h1 class="text-center">File A Complaint</h1>
        </div>
      </section>
      <section class="template-form-content">
        <div class="container">
          <div class="row justify-content-center py-3 py-md-5">
            <div class="col-lg-6 px-md-5 mb-4 mb-md-0">
              <div class="for-form p-3">
                <div id="umbraco_form_30dc44562c8249738e1b5abe4623533e" class="umbraco-forms-form fileacomplaintform file-a-complaint umbraco-forms-">
                  <form method="post">
                      {% csrf_token %}
                      {{ form.name }}<br><br>
                      {{ form.email }}<br><br>
                      {{ form.phone }}<br><br>
                      {{ form.company }}<br><br>
                      {{ form.date }}<br><br>
                      {{ form.story }}<br><br>
                      <button type="submit" class="btn primary">Submit</button>
                      <section>{{ error }}</section>
                    </form>

                  <div class="umbraco-forms-form-config" style="display: none" data-id="30dc44562c8249738e1b5abe4623533e" data-serialized-page-button-conditions="{}" data-serialized-fieldset-conditions="{}" data-serialized-field-conditions="{}" data-serialized-fields-not-displayed="{}" data-trigger-conditions-check-on="change" data-form-element-html-id-prefix=""></div>

                  <div id="umbraco-forms-date-picker-config" style="display: none" data-name="en-US" data-year-range="10" data-previous-month="<<" data-next-month=">>" data-months="January,February,March,April,May,June,July,August,September,October,November,December," data-weekdays="Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday" data-weekdays-short="Sun,Mon,Tue,Wed,Thu,Fri,Sat"></div>
                  <script type="application/javascript" src="{% static 'main/js/www.google.com/recaptcha/api9f37.js?render=6LcbENAmAAAAAAp8AV9Sno_D7XTbBya2-9zLEYId' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/UmbracoForms/Assets/recaptcha.v3.init.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/UmbracoForms/Assets/themes/default/umbracoforms.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/UmbracoForms/Assets/moment/min/moment-with-locales.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/UmbracoForms/Assets/pikaday/pikaday.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/UmbracoForms/Assets/datepicker.init.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/Our.Umbraco.Forms.IntlTelInput/js/intlTelInput.min.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/Our.Umbraco.Forms.IntlTelInput/js/our.umbraco.forms.intl-tel-input.js' %}" defer="defer"></script>
                  <script type="application/javascript" src="{% static 'main/js/App_Plugins/Our.Umbraco.Forms.IntlTelInput/js/validate.phonenumber.js' %}" defer="defer"></script>
                  <link rel="stylesheet" href="{% static 'main/js/App_Plugins/UmbracoForms/Assets/pikaday/pikaday.min.css' %}"><link rel="stylesheet" href="{% static 'main/js/App_Plugins/Our.Umbraco.Forms.IntlTelInput/css/intlTelInput.min.css' %}"><link rel="stylesheet" href="{% static 'main/js/App_Plugins/Our.Umbraco.Forms.IntlTelInput/css/our.umbraco.forms.intl-tel-input.css' %}">
                </div>
              </div>
            </div>
            <div class="col-lg-6 px-md-5">
              <h2 class="mb-5">
                Scam Victim?<br>
                Leave your details to get<br>
                <span class="color-brand">FREE CONSULTATION</span><br>
                from our team.
              </h2>
              <img width="329" height="329" class="attachment-full size-full beetle-lazy" alt="img1" decoding="async" loading="lazy" src="{% static 'main/img/assets/uploads/img-1.png' %}">
            </div>
          </div>
        </div>
      </section>
    </main>
    {% endblock %}
  </body>

  <!-- Mirrored from funds-recovery.com/file-a-complaint/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Sep 2023 09:13:29 GMT -->
</html>
